/*プロゲートのをコピーしただけなのでカスタマイズ必須*/
body {
  background-image:url("image/background.png");
  font-family: "Avenir Next";
  margin-top:0;
  text-align:center;		/*IE6以下でセンタリングするための対策*/
}

li {
  list-style: none;
}
.pagebody{
  text-align : left ;
  width : 1250px;
}

/*============================================
メインメニュー
============================================*/
.header {
  background-color: #f0ffff;
  color: #6495ed;
  height: 60px;
  display: flex;
  justify-content: center;
}
.header-username{
  float:right;
}
.header-logo {
  float: left;
  font-size: 36px;
  padding: 5px;
}
.header-logo a{
  font-family: "Avenir Next";
  color: #6495ed;
  text-decoration: none;
}
.header-list ul {
	font-weight:bold;/*太文字にする*/
}
.header-list li {
  float:left;			/*リスト項目を横に並べる*/
	display:inline;			/*リスト項目をインライン表示にする*/
	list-style-type:none;		/*リストマーカー無しにする*/
	background-repeat:no-repeat; 	/*背景画像を繰り返さない*/
}
.header-list li#menu01 {
	width:156px; height:60px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("image/light_blue.png");	/*背景画像*/
}
.header-list li#menu02 {
	width:156px; height:60px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("image/orange.png");	/*背景画像*/
}
.header-list li#menu03 {
	width:156px; height:60px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("image/yellow.png");	/*背景画像*/
}
.header-list li#menu04 {
	width:156px; height:60px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("image/yellow_green.png");	/*背景画像*/
}

.header-list ul a {
	display:block;				/*リンクをブロック表示にする*/
  height: 60px; padding-top:15px; text-align:center;
	text-decoration:none; 			/*リンクの下線を無くす*/
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
}
.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 40px;
}

.copy-container h2 {
  font-size: 20px;
}

.copy-container span {
  color: #ff4a4a;
}
/*
.contents {
  height: 500px;
  margin-top: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form {
  padding-top: 100px;
}
*/
/* inputとtextareaのCSSを指定してください */

input.hoge { width: 320px; }

/* contact-submitのCSSを指定してください *//*
.contact-submit{
  background:#dee7ec;
  color:#889eab;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
*/
